[run]
source = il2fb/ds/events/parsing
omit =
  */tests/*
  */docs/*
  */scripts/*
  il2fb/ds/events/parsing/version.py

[report]
exclude_lines =
  pragma: no cover
  raise NotImplementedError
  pass
